@model MoviesApp.Models.Actress.ActressViewModel

<div class="jumbotron">
    <h1>Update @Model.Name Here</h1>
</div>
@using (Html.BeginForm(new { @class = "form-control" }))
{
    @Html.Label("Name", "Name", new { @class = "label label-info" })
    @Html.TextBox("Name", Model.Name, new { @class = "form-control", value = Model.Name })
    @Html.ValidationMessageFor(a => a.Name)

    @Html.Label("Age", "Age", new { @class = "label label-info" })
    @Html.TextBox("Age", Model.Age, new { @class = "form-control", value = Model.Age })
    @Html.ValidationMessageFor(a => a.Age)

    @Html.Label("Studio", "Studio", new { @class = "label label-info" })
    @Html.TextBox("Studio", Model.Studio, new { @class = "form-control", value = Model.Studio })
    @Html.ValidationMessageFor(a => a.Studio)

    @Html.Label("Address", "Address", new { @class = "label label-info" })
    @Html.TextBox("Address", Model.Address, new { @class = "form-control", value = Model.Address })
    @Html.ValidationMessageFor(a => a.Address)

    <br />
    <input type="submit" class="btn btn-info" value="Update Actress" />
    <a href="~/Actress/ViewAll" class="btn btn-info">Cancel</a>
}